/* Typography */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Css of Welcome Section Starts */
.welcome-section {
    background: url(../img/developer-portfolio-master/images/top-banner.png) no-repeat;
}

.welcome-content {
    display: flex;
}

.welcome-left {
    width: 45%;
}

.welcome-left-text {}

.welcome-left-text h1 {
    text-align: center;
    font-size: 3.4em;
    margin-top: 1em;

}

.welcome-left-text h2 {
    margin: 2em 90px;
    font-size: 2em;
}

.orange {
    color: #FFA500;
}

.welcome-left-text h3 {
    margin-left: 5.2em;
}

.welcome-left-text p {
    margin-top: 1em;
    margin-left: 5.5em;
}

.welcome-left-text a,
.big-dream-right-content a {
    display: inline-block;
    margin: 2em 6em;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background: linear-gradient(salmon, purple);
    padding: .5em 2em;
}

.welcome-right-img {
    width: 76%;
    margin-left: 15%;
}

.welcome-right-img {}

.welcome-right-img img {
    width: 100%;
}

.welcome-section {}

/* Css of Welcome Section Ends */
/* Big dream section start */
.big-dream-section {}

.big-dream-content {
    display: flex;
    margin: 5em 0;
}

.big-dream-left {
    width: 50%;
}

.big-dream-img {}

.big-dream-img img {
    margin-left: 10%;
    width: 80%;
}

.big-dream-right {
    width: 50%;
    margin-left: 5%;
}

.big-dream-right-content {}

.big-dream-right-content h1 {
    font-size: 2.5em;
    color: #333;
}

.big-dream-right-content h2 {
	color: #353535;
}

.big-dream-right-content p {}

.big-dream-right-content a {}

/* Big dream section end */